:root {
    --primary-color: rgb(255, 140, 0);
    --primary-color-hover: rgb(201, 111, 0);
    --secondary-color: #333333;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
/* Fuente*/
* {
    font-family: 'Roboto', sans-serif;
}
